/.vs
/packages
/Athenas.Data/bin/Debug
/Athenas.Data/obj/Debug
/Athenas.Data/bin/Release
/Athenas.Data/obj/Release
/AthenasNet.Negocio/bin/Debug
/AthenasNet.Negocio/obj/Debug
/AthenasNet.Negocio/bin/Release
/AthenasNet.Negocio/obj/Release
/Athenas.MVCUI/node_modules
/Athenas.MVCUI/bin/
/Athenas.MVCUI/obj/
/AthenasNet.Api/bin/Release/Publish
/AthenasNet.Api/obj/Release/Package/PackageTmp/bin
/AthenasNet.Api/obj/Release/Package/PackageTmp
/AthenasNet.Api/obj/Release/TransformWebConfig
/AthenasNet.Api/obj/Release/
/AthenasNet.Api/Properties/PublishProfiles
/AthenasNet.Api/AppSettings.secret
/AthenasNet.Api/obj/Debug