################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs
/Athenas.Data/bin/Debug
/Athenas.Data/obj/Debug
/AthenasNet.Api/obj/Debug
/AthenasNet.Negocio/bin/Debug
/AthenasNet.Negocio/obj/Debug
/packages
/Athenas.MVCUI/node_modules
