<div class="row">
    <div class="col-12 col-lg-8 offset-lg-2">
        <div class="card card-outline card-primary mt-4">
            <div class="card-header no-after  d-flex justify-content-between align-items-center">
                <h5> Promociones Registradas</h5>
                    <button type="button" class="btn btn-success btn-sm btn-sin-click" id="btn-nuevo" data-toggle="modal" data-target="#modal-mantenedor">
                        <i class="fas fa-plus mr-1"></i> Nuevo
                    </button>
            </div>
            <div class="card-body">
                <div class="col-12 mt-2">
                    <form class="form frm-loader" id="form-filtrar">
                        <input type="hidden" name="tipo" value="filtrar">
                        <div class="form-group row">
                            <div class="col-md-12">
                                <div class="input-group">
                                    <input type="text" name="Producto" id="Producto" class="form-control" placeholder="Ingrese la descripcion del producto">
                                    <div class="input-group-append">
                                        <button type="submit" class="btn btn-primary form-control" style="min-width: 100px"><i class="fas fa-search"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-12 table-responsive">
                    <table class="table" id="tb-mantenedor">
                        <thead>
                            <tr>
                                <th>Código</th>
                                <th>Producto</th>
                                <th>Tipo</th>
                                <th>Valor</th>
                                <th>Inicio</th>
                                <th>Fin</th>
                                <th>Opciones</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-mantenedor"  data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Datos de la promocion</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form novalidate id="form-mantenedor">
                <div class="modal-body">
                    <input type="hidden" name="Id" id="Id" value="0" />
                    <input type="hidden" name="accion" id="accion" value="registrar" />
                    <div class="alert alert-danger d-none" role="alert" id="msj-tiene-promo">
                        El producto seleccionado ya tiene una promoción en el rango de fechas
                    </div>
                    <div class="form-group">
                        <label for="Producto">Producto</label>
                        <select name="Producto" id="Producto" class="form-control" required></select>
                        <div class="invalid-feedback">Por favor seleccione un producto</div>
                    </div>
                    <div class="form-group">
                        <label for="Tipo">Tipo de descuento</label>
                        <select name="Tipo" id="Tipo" class="form-control">
                            <option value="0">Fijo</option>
                            <option value="1">Porcentual</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="Valor">Valor</label>
                        <input type="number" class="form-control" name="Valor" id="Valor" required min="0.01" step=".1" >
                        <div class="invalid-feedback">Por favor ingrese un valor para el descuento de la promoción</div>
                    </div>
                    <div class="form-group">
                        <label for="FechaInicio">Fecha de inicio</label>
                        <input type="date" class="form-control" name="FechaInicio" id="FechaInicio" required>
                        <div class="invalid-feedback">Por favor ingrese una fecha de inicio</div>
                    </div>
                    <div class="form-group">
                        <label for="FechaFin">Fecha final</label>
                        <input type="date" class="form-control" name="FechaFin" id="FechaFin" required>
                        <div class="invalid-feedback">Por favor ingrese una fecha final</div>
                    </div>
                </div>
                <div class="modal-footer">

                    <button type="submit" class="btn btn-success" id="btn-mant-guardar"><i class="far fa-save mr-1"></i> Guardar</button>
                    <button type="button" class="btn btn-success" data-dismiss="modal"><i class="fas fa-arrow-left mr-1"></i>Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>