<div class="hold-transition login-page">
    <div class="login-box">
        
        <!-- /.login-logo -->
        <div class="card card-dark">
            <div class="card-header">
                <div class="login-logo">
                    
                    <a href="#" class="text-center">Athenas</a>
                </div>
            </div>
            <div class="card-body login-card-body">
                <p class="login-box-msg">Login</p>
                <form>
                    <div class="input-group mb-3">
                        
                        <input class="form-control" name="Usuario" placeholder="Usuario" type="text" />
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" name="Contrasenia" placeholder="Contraseña" />
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <!-- /.col -->
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary btn-block">Ingresar</button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>
                

            </div>
            <!-- /.login-card-body -->
        </div>
    </div>

</div>