
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutMantenedor.cshtml";
}

@section cardTitulo {
    Proveedores Registrados
}

@section formFiltrar {
    <input type="hidden" name="tipo" value="filtrar">
    <div class="form-group row">
        <div class="col-md-12">
            <div class="input-group">
                <input type="text" name="RzSocial" id="RzSocial" class="form-control" placeholder="Ingrese la razon social del proveedor">
                <div class="input-group-append">
                    <button type="submit" class="btn btn-primary form-control" style="min-width: 100px"><i class="fas fa-search"></i></button>
                </div>
            </div>
        </div>
    </div>
}

@section tblCabecera {
    <tr>
        <th>Código</th>
        <th>Razon Social</th>
        <th>RUC</th>
        <th>Representante</th>
        <th>Email</th>
        <th>Telefono</th>
        <th>Direccion</th>
        <th>Opciones</th>
    </tr>
}

@section mantenedorTitulo {
    Datos del proveedor
}

@section modalMantenedorCuerpo {
    <input type="hidden" name="Id" id="Id" value="0" />
    <input type="hidden" name="accion" id="accion" value="registrar" />

    <div class="form-group">
        <label for="txt-rzSocial">Razón Social</label>
        <input type="text" class="form-control" name="RzSocial" id="txt-rzSocial" required>
        <div class="invalid-feedback">Por favor ingrese la razón social del proveedor</div>
    </div>
    <div class="form-group">
        <label for="txt-ruc">RUC</label>
        <input type="text" class="form-control" name="RUC" id="txt-ruc" required>
        <div class="invalid-feedback">Por favor ingrese un número de RUC para el proveedor</div>
    </div>
    <div class="form-group">
        <label for="txt-representante">Representante</label>
        <input type="text" class="form-control" name="Representante" id="txt-representante" required>
        <div class="invalid-feedback">Por favor ingrese el nombre del representante del proveedor</div>
    </div>
    <div class="form-group">
        <label for="txt-email">Correo</label>
        <input type="email" class="form-control" name="Email" id="txt-email" required>
        <div class="invalid-feedback">Por favor ingrese un email válido</div>
    </div>
    <div class="form-group">
        <label for="txt-telefono">Teléfono</label>
        <input type="text" class="form-control" name="Telefono" id="txt-telefono" required minlength="7" maxlength="9">
        <div class="invalid-feedback">Por favor ingrese el teléfono del proveedor, debe tener mínimo 7 caracteres y máximo 9</div>
    </div>
    <div class="form-group">
        <label for="txt-direccion">Dirección</label>
        <input type="text" class="form-control" name="Direccion" id="txt-direccion" required>
        <div class="invalid-feedback">Por favor ingrese la dirección del proveedor</div>
    </div>

}




@section scripts {
    @Scripts.Render("~/Scripts/es5/proveedorService.js")
    @Scripts.Render("~/Scripts/es5/proveedorUI.js")
    @Scripts.Render("~/Scripts/es5/proveedorController.js")
    @Scripts.Render("~/Scripts/es5/proveedor.js")
}

