    <!-- Modal -->
<div class="modal fade" id="modal-confirmar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirmar eliminación</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form novalidate id="form-confirmar">
                <div class="modal-body">

                    <p>¿Está seguro de querer eliminar el registro seleccionado?</p>
                </div>
                <div class="modal-footer">

                    <button type="submit" class="btn btn-success"><i class="far fa-save mr-1"></i> Aceptar</button>
                    <button type="button" class="btn btn-success" data-dismiss="modal"><i class="fas fa-arrow-left mr-1"></i>Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>
