
@{
    Layout = "~/Views/Shared/_LayoutMantenedor.cshtml";
}

@section cardTitulo {
    Usuarios Registrados
}

@section formFiltrar {
    <input type="hidden" name="tipo" value="filtrar">
    <div class="form-group row">
        <div class="col-md-12">
            <div class="input-group">
                <input type="text" name="Nombre" id="Nombre" class="form-control" placeholder="Ingrese el nombre del usuario">
                <div class="input-group-append">
                    <button type="submit" class="btn btn-primary form-control" style="min-width: 100px"><i class="fas fa-search"></i></button>
                </div>
            </div>
        </div>
    </div>
}

@section tblCabecera {
    <tr>
        <th>Código</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>DNI</th>
        <th>Sexo</th>
        <th>Teléfono</th>
        <th>Opciones</th>
    </tr>
}

@section mantenedorTitulo {
    Datos del usuario
}

@section modalMantenedorCuerpo {


}
